/*Header*/
.nav-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.nav-container {
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	/* background-color: #FFFFFF; */

}


.nav-title {
	font-size: 2rem;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.nav-title a {
	font-size: 2rem;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.nav-item.selected a {
	background-color: #1344ff;
	color: #FFFFFF;
}


.nav-item {
	margin: 0 10px;
}

.nav-item a {
	background-color: transparent;
	border-radius: 40px;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.1rem;
	padding: 6px 15px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item a:hover {
	background-color: #1344ff;
	color: #FFFFFF; 
}

.nav-hidden {
	transform: translateY(-100%);
}

.nav-scroll {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.nav-container {
		padding: 10px;
	}
	.nav-title {
		font-size: 1.5rem;
	}

	.nav-item {
		margin: 10px;
	}
	.nav-item a {
		padding: 10px;
		border-radius: 10px;
		color: #000000;
	}
	.nav-item a:hover {
		background-color: #1344ff;
		color: #FFFFFF; /* white text */
	}

}


  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
  }
  
  
  .menu {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .menu a {
	display: block;
	padding: 7px 15px;
	font-size: 17px;
	font-weight: 500;
	transition: 0.2s all ease-in-out;
	color: #000000;
	font-weight: bold;
  }
  
  .menu:hover a {
	opacity: 0.4;
  }
  
  .menu a:hover {
	opacity: 1;
	color: #fff;
  }
  
  .menu-icon {
	display: none;
  }
  
  #menu-toggle {
	display: none;
  }
  
  #menu-toggle:checked ~ .menu {
	transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
	.menu {
	  flex-direction: column;
	  background-color: #ffffff;
	  align-items: start;
	  position: absolute;
	  top: 90px;
	  left: 0;
	  width: 100%;
	  z-index: 1;
	  transform: scale(1, 0);
	  transform-origin: top;
	  transition: transform 0.3s ease-in-out;
	  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
  
	.menu a {
	  margin-left: 12px;
	  font-size: 20px;
	}
  
	.menu li {
	  margin-bottom: 10px;
	}
  
	.menu-icon {
	  display: block;
	  color: #000000;
	  font-size: 28px;
	  cursor: pointer;
	}
  }

/* Media Queries */

@media (max-width: 768px) {


header {
	padding: 10px;
}

nav ul {
	flex-direction: column;
	align-items: center;
}

nav li {
	margin: 10px 0;
}
}

/* Header */

.place-icon {
    /* max-width: 40px; */ /*Adjust the maximum width as needed */
    max-height: 40px; /* Adjust the maximum height as needed */
    vertical-align: middle;
    padding: 6px 15px;
}

.dashboard-text {
    display: inline-block;
    margin-left: 5px; /* Adjust the spacing as needed */
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .dashboard-text {
        display: block;
        margin-top: 5px; /* Adjust the spacing as needed */
        margin-left: 0;
    }
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1344ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive dropdown */
@media screen and (max-width: 768px) {
    .dropdown {
        position: static;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: transparent;
        min-width: auto;
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .dropdown:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
    }
}